@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
html{
    height: 100%;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;

}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans',sans-serif;
    height: 100%;
}
h1{
    font-weight: 700;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}
#maincard{
    background-color: white;
}
#headimg{
    width: 200px;
    height: 200px;
    
}
#imgdiv{
    display: flex;
    justify-content: center;
}
.hidden{
    display: none;
}